<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_name %><br>
    <%= f.text_field :team_name %>
  </div>
  <div class="field">
    <%= f.label :sec_team %><br>
    <%= f.collection_select(:sec_team_id, Team.all, :id, :team_name) %>
  </div>
  <div class="field">
    <%= f.label :ter_team %><br>
    <%= f.collection_select(:ter_team_id, Team.all, :id, :team_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
