<%= form_for(@teammembership) do |f| %>
  <% if @teammembership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teammembership.errors.count, "error") %> prohibited this teammembership from being saved:</h2>

      <ul>
      <% @teammembership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :employee_id, Employee.all.collect { |q| [ q.name, q.id ] } %>
  </div>
  <div class="field">
    <%= f.select :team_id, Team.all.collect { |t| [ t.team_name, t.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
