<%= form_for(@teammembership) do |f| %>
  <% if @teammembership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teammembership.errors.count, "error") %> prohibited this teammembership from being saved:</h2>

      <ul>
      <% @teammembership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
