<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
<% if @employee.manager.present? %>
<p>
  <strong>Managed by:</strong>
  <%= @employee.manager.name %>
</p>
<% end %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
