<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
<% if @employee.manager.present? %>
<p>
  <strong>Managed by:</strong>
  <%= @employee.manager.name %>
</p>
<% end %>

<h3><%= @employee.name %> Teams</h3>

<% @employee.teams.each do |team| %>
  <ul>
    <li><%= team.team_name %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
