<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @team_membership.employee %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_membership.team %>
</p>

<%= link_to 'Edit', edit_team_membership_path(@team_membership) %> |
<%= link_to 'Back', team_memberships_path %>
